* text=auto
# 屏蔽汉化时的统计
localization/*.xml linguist-generated=true
# make things fun lol
*.json linguist-language=typescript
*.darkest linguist-language=kotlin
*.xml linguist-language=html
*.md linguist-language=html